body {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.start-btn {
    width: 200px;
    height: 60px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

.start-btn:hover {
    background-color: orangered;
    color: white;
    border: none;
}